
# ANGULAR 

/dist
/tmp
/out-tsc
/bazel-out
/node_modules
npm-debug.log
yarn-error.log
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/mcp.json
.history/*
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
__screenshots__/
.DS_Store
Thumbs.db


# .NET (Backend) 

[Bb]in/
[Oo]bj/
.vs/
*.user
*.pdb
*.suo
*.jfm
*.lcf
*.nyld
*.ny
*.ws
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tli
*.tlh
*.tmp
*.rsp
*.pgc
*.pgd
*.meta
*.img
*.sbr
*.smap


# SQLITE 

*.db
*.db-shm
*.db-wal